<h1>search page<h1></h1>
<div class = 'mt-4'>
    <form method="post">
    <div class="mb-3">
        <label for="search-input" class="form-label">Muốn tìm gì?</label>
        <input name = "q" class="form-control" id="search-input" placeholder="Nhập đê ...">
    </div>
    <div class="mb-3">
    <label for="gender-input" class="form-label">Chọn giới tính</label>
    <select name = "gender" class="form-control" id="gender-input">
    <option value="">--Không chọn gì thì là bê đê--</option>
    <option value="male">Nam</option>
    <option value="female">Nữ</option>    
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>